/*

!/src/
/src/*.egg-info/

__pycache__/

.*
*~

!.gitattributes
.gitattributes/
!.gitignore
.gitignore/
!.gitkeep
.gitkeep/

!/setup.py
/setup.py/
!/setup.cfg
/setup.cfg/
!/pyproject.toml
/pyproject.toml/

!/MANIFEST.in
/MANIFEST.in/

!/README.rst
/README.rst/
!/LICENSE.txt
/LICENSE.txt/
